          <div class="row">
            <div class="col-md-1" >&nbsp;</div>
            <div class="col-md-5 filtroOrdenacion izquierda">            
              Mostrar:
              <select name="limite" id="limite">
                <option value="">Todos</option>
                <option value="5">5 resultados</option>
                <option value="10">10 resultados</option>
              </select>
            </div>          
            <div class="col-md-5 filtroOrdenacion">
              Ordenar por:
              <select name="orden" id="orden">
                <option value=""></option>
                <option value="nombre">De A - Z</option>
                <option value="-nombre">De Z - A</option>
                <option value="precio">Precio Ascendente</option>
                <option value="-precio">Precio Descendente</option>
                <option value="-venta">Primero Ventas</option>
                <option value="venta">Primero Búsquedas</option>
              </select>    
            </div>
            <div class="col-md-1" >&nbsp;</div>
          </div>